// =====================
// vars
// =====================

@color-blue: #81b3d2;
@color-blue-hover: #669ec0;
@color-blue-active: #5496bd;

@font-family-main: 'PT Sans', sans-serif;
@font-header: 700 18px / 1 @font-family-main;

// =====================
// resets, overridings
// =====================

*,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

// =====================
// font imports
// =====================

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/oOt0DNfso2UXZt7DYCiN2gLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPr3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

// =====================
// common
// =====================

body {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font: 400 14px / 21px @font-family-main;
	color: #333;
}

h1, h2, h3 {
	color: #000;
}

h1, h2 {
	font: @font-header;
}

a {
	text-decoration: none;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.make-center(@element-width) {
	margin-left: auto;
	margin-right: auto;
	width: @element-width;
}

// =====================
// block specific
// =====================

header.page {
	position: relative;

	.mobile-menu {
		position: absolute;
		z-index: 100;
		width: 100%;
		transition: all .25s;
		transform: translateY(-100%);

		&.active {
			transform: translateY(0%);
		}

		.mobile-menu-close {
			position: absolute;
			right: 20px;
			top: 17px;
			width: 22px;
			height: 22px;
			background: url(../img/mobile-menu-close.svg) no-repeat 50% 50%;
			background-size: 22px 22px;
			cursor: pointer;
		}

		nav {
			ul {
				li {
					a {
						display: block;
						border-top: 1px solid #9ac2db;
						border-bottom: 1px solid #678fa8;
						background: @color-blue;
						color: #fff;
						font: @font-header;
						line-height: 56px;

						&:hover {
							background: @color-blue-hover;
						}

						&:active {
							background: @color-blue-active;
							color: rgba(255, 255, 255, 0.3);
						}
					}

					&:first-child a {
						border-top-color: transparent;
					}

					&:last-child a {
						position: relative;
						
						&:before {
							content: "";
							position: absolute;
							display: block;
							width: 100%;
							height: 100%;
							background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 10%);
						}
					}
				}
			}
		}
	}

	.topline {
		position: relative;
		padding: 17px 0;

		.logo {
			position: absolute;
			z-index: 10;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			width: 140px;
			height: 70px;
			background: 
				url(../img/header-logo-inner.png) no-repeat 50% 0,
				url(../img/header-logo-outer.svg) no-repeat 50% 50%;
			background-size: 
				67px 56px,
				140px 70px;
		}

		.mobile-menu-open {
			float: right;
			margin-right: 20px;
			width: 22px;
			height: 22px;
			background: url(../img/mobile-menu-open.svg) no-repeat 50% 50%;
			background-size: 22px 22px;
			cursor: pointer;
		}

		.desktop-menu {
			display: none;
		}
	}
}

section.billboard {
	position: relative;
	height: 390px;
	background: url(../img/bg-main-billboard.jpg) no-repeat 50% 28%;

	div {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.welcome-to-the {
		top: 32px;
		width: 196px;
		height: 66px;

		.welcome {
			position: absolute;
			top: 0;
			width: 196px;
			height: 35px;
			background: url(../img/text-welcome.svg) no-repeat 50% 50%;
			background-size: 196px 35px;
		}

		.to-the {
			position: absolute;
			bottom: 0;
			width: 196px;
			height: 23px;
			background: url(../img/text-tothegorgeous.svg) no-repeat 50% 50%;
			background-size: 196px 23px;
		}
	}

	.sedona {
		top: 50%;
		transform: translateX(-50%) translateY( -50%);
		width: 280px;
		height: 48px;
		background: url(../img/text-sedona.svg) no-repeat 50% 50%;
		background-size: 280px 48px;
	}

	.because-gk-sucks {
		bottom: 32px;
		width: 197px;
		height: 54px;
		background: url(../img/text-becausecanyon.svg) no-repeat 50% 50%;
		background-size: 197px 54px;
	}

	.bg-geometry {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 37px;
		background: url(../img/main-billboard-bg-geometry.png) no-repeat 50% 1px;
		background-size: 768px 37px;
	}
}

section.features {
	.intro {
		padding: 40px 10%;
		line-height: 26px;

		.slogan {
			margin-bottom: 25px;
			font: @font-header;
			line-height: 26px;
		}
	}

	.feature {
		.descr {
			padding: 40px 10%;
			background: @color-blue;
			color: #fff;

			h1 {
				margin-bottom: 10px;
				color: #fff;
			}

			.number {
				margin-bottom: 15px;
			}
		}

		.billboard {
			height: 255px;
		}

		&:nth-of-type(1) .billboard {
			background: url(../img/photo-city.jpg) no-repeat 50% 50%;
		}

		&:nth-of-type(2) .billboard {
			background: url(../img/photo-bridge.jpg) no-repeat 50% 50%;
		}

		.perks {
			padding-left: 6.25%;
			padding-right: 6.25%;

			.item {
				position: relative;

				&:not(:last-child) {
					margin-bottom: 60px;
				}

				h2 {
					margin-bottom: 20px;
				}
			}
		}

		&.true-city {
			.perks {
				padding-top: 42px;
				padding-bottom: 42px;
				text-align: left;

				.item {
					padding-left: 50px;

					.pic {
						position: absolute;
						left: 0;
						width: 38px;
						height: 38px;
						background: no-repeat 0 50%;
						background-size: 38px 38px;
					}

					&:nth-child(1) .pic {
						top: -12px;
						background-image:  url(../img/icon-perk-1.svg);
					}

					&:nth-child(2) .pic {
						top: -15px;
						background-image: url(../img/icon-perk-2.svg);
					}

					&:nth-child(3) .pic {
						top: -10px;
						background-image: url(../img/icon-perk-3.svg);
					}
				}
			}
		}

		&.devil-bridge {
			.perks {
				padding-top: 29px;
				padding-bottom: 29px;
				background: #eee;

				.item {
					h2 {
						margin-bottom: 12px;
					}

					.number {
						margin-bottom: 15px;
					}

					&:not(:last-child):after {
						content: "";
						position: absolute;
						display: block;
						bottom: -26px;
						width: 100%;
						height: 1px;
						background: #d6d6d6;
					}
				}
			}
		}
	}
}

section.hotels {
	.intro {
		padding: 29px 10%;

		h1 {
			margin-bottom: 22px;
			font-size: 21px;
		}
	}

	.find-hotel {
		h1 {
			padding: 32px 0;
			background: #766357;
			color: #fff;
		}

		form {
			@padding-left: 15px;

			padding: 30px 6.25% 50px;
			line-height: 1;
			font-weight: 700;
			text-align: left;

			.input-group {
				@bg-color: #f2f2f2;

				margin-bottom: 28px;

				label {
					display: block;
					margin-bottom: 13px;
					padding-left: @padding-left;
				}

				input {
					width: 100%;
					height: 38px;
					border: none;
					background: @bg-color;
				}

				&.date {
					input {
						padding: 10px @padding-left;
						background: @bg-color url(../img/icon-calendar.svg) no-repeat right 9px center;
					}
				}

				&.number {
					.number-picker {
						position: relative;

						.plus,
						.minus {
							position: absolute;
							width: 36px;
							height: 38px;
							text-align: center;
							font-size: 30px;
							line-height: 35px;
							color: #a9a9a9;
							cursor: pointer;
						}

						.plus {
							right: 0;
							top: 0;
						}

						input {
							padding-left: 36px;
							padding-right: 36px;
							text-align: center;
						}
					}
				}
			}

			.btn {
				display: block;
				margin-top: 55px;
				padding: 20px 0;
				background: @color-blue;
				font: @font-header;
				font-size: 21px;
				color: #fff;
				text-align: center;

				&:hover {
					background: @color-blue-hover;
				}

				&:active {
					background: @color-blue-active;
					color: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}

	.map {
		position: relative;
		height: 593px;

		&:before {
			content: "";
			position: absolute;
			z-index: 10;
			display: block;
			width: 100%;
			height: 15px;
			background: linear-gradient(to bottom, #000, transparent);
			opacity: .15;
		}
	}
}

footer.page {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 30px 0;
	background: rgba(255, 255, 255, 0.8);

	.hashtag {
		margin-bottom: 37px;
		font: @font-header;
		font-size: 21px;
	}

	.social {
		font-size: 0;

		a {
			display: inline-block;
			width: 46px;
			height: 46px;

			&:not(:last-child) {
				margin-right: 6px;
			}

			&.tw:hover,
			&.fb:hover,
			&.yt:hover {
				background-color: @color-blue-hover;
			}

			&.tw:active,
			&.fb:active,
			&.yt:active {
				background-color: @color-blue-active;
				color: rgba(255, 255, 255, 0.3);
			}

			&.tw {
				background: @color-blue url(../img/icon-twitter.svg) no-repeat 50% 50%;
			}

			&.fb {
				background: @color-blue url(../img/icon-facebook.svg) no-repeat 50% 50%;
			}

			&.yt {
				background: @color-blue url(../img/icon-youtube.svg) no-repeat 50% 50%;
			}
		}
	}

	.created-by {
		color: #000;
		line-height: 30px;

		a {
			display: inline-block;
			margin: 0 7px;

			&.studio {
				position: relative;
				top: 11px;
				width: 27px;
				height: 30px;
				background: url(../img/logo-glukhanko.svg) no-repeat 50% 50%;
			}

			&.academy {
				position: relative;
				top: 14px;
				width: 27px;
				height: 33px;
				background: url(../img/logo-htmlacademy.svg) no-repeat 50% 100%;
			}
		}
	}
}

// =====================
// responsive
// =====================

@media (min-width: 575px) {
	section.features {
		.intro {
			.slogan {
				.make-center(400px);
			}
		}

		.feature.true-city {
			.perks {
				padding-left: 0;
				padding-right: 0;

				.item {
					.make-center(500px);
				}
			}
		}
	}

	section.hotels {
		.intro {
			p {
				.make-center(440px);
			}
		}
	}
}

@media (min-width: 768px) {
	h1, h2 {
		font-size: 21px;
		line-height: 26px;
	}

	header.page {
		.mobile-menu {
			display: none;
		}

		.topline {
			@height-topline: 56px; 
			height: @height-topline;
			padding: 0;

			.mobile-menu-open {
				display: none;
			}

			.desktop-menu {
				display: block;

				ul {
					font-size: 0;

					li {
						display: inline-block;
						width: ~"calc((100% - 140px) / 4)";

						&.logo-placeholder {
							width: 140px;
						}

						a {
							display: block;
							font-size: 14px;
							font-weight: bold;
							line-height: @height-topline;
							color: #000;
							text-align: center;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}

	section.billboard {
		height: 512px;

		.welcome-to-the {
			width: 256px;
			height: 86px;

			.welcome {
				width: 256px;
				height: 45px;
				background-size: 256px 45px;
			}

			.to-the {
				width: 256px;
				height: 30px;
				background-size: 256px 30px;
			}
		}

		.sedona {
			width: 458px;
			height: 78px;
			background-size: 458px 78px;
		}

		.because-gk-sucks {
			width: 295px;
			height: 80px;
			background-size: 295px 80px;
		}
	}

	section.features {
		.intro {
			padding-top: 55px;
			padding-bottom: 55px;

			.slogan {
				.make-center(445px);

				font-size: 21px;
			}
		}

		.feature {
			.clearfix();

			.descr {
				float: left;
				width: calc(100% / 3);
				height: 256px;
				padding-left: 0;
				padding-right: 0;

				p {
					padding-left: 17%;
					padding-right: 17%;
				}
			}

			.billboard {
				float: left;
				width: calc(100% / 3 * 2);
				height: 256px;
			}

			.perks {
				float: left;
				width: 100%;

				.item {
					float: left;
					text-align: center;

					&:not(:last-child) {
						margin-bottom: 00px;
					}
				}
			}

			&.true-city {
				.descr {
					h1 {
						.make-center(150px);
					}
				}

				.perks {
					padding: 0;

					.item {
						width: calc(100% / 3);
						height: 330px;
						padding-left: 0;
						padding-top: 60px;

						.pic {
							position: static;
							display: inline-block;
							width: 75px;
							height: 75px;
							margin-bottom: 20px;
							background-position: 50% 50%;
							background-size: 75px 75px;
						}

						p {
							.make-center(80%);

							max-width: 270px;
						}
					}
				}
			}

			&.devil-bridge {
				.descr {
					float: right;

					h1 {
						.make-center(151px);
					}
				}

				.billboard {
					float: left;
				}

				.perks {
					padding: 0;

					.item {
						width: calc(100% / 3);
						height: 256px;
						padding-top: 45px;

						h2 {
							.make-center(155px);
						}

						p {
							.make-center(160px);
						}

						&:not(:last-child):after {
							display: none;
						}
					}
				}
			}
		}
	}

	section.hotels {
		position: relative;

		.intro {
			padding-top: 55px;
			padding-bottom: 135px;

			h1 {
				font-size: 30px;
			}

			p {
				.make-center(440px);
				
				line-height: 24px;
			}
		}

		.find-hotel {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 196px;
			z-index: 100;
			width: 568px;

			form {
				background: #fff;
				padding: 55px 57px;

				.input-group {
					.clearfix();

					margin-bottom: 30px;

					label {
						float: left;
						width: 25%;
						margin-bottom: 0;
						padding-left: 0;
					    line-height: 38px;
					}

					input {
						float: left;
					}

					&.date {
						input {
							width: 75%;
						}
					}

					&.number {
						float: left;
						width: 50%;

						label {
							float: left;
							width: 50%;
						}

						&:last-of-type label {
							padding-left: 50px;
						}

						.number-picker {
							float: left;
							width: 50%;

							input {
								padding-left: 0;
								padding-right: 0;
							}
						}
					}
				}

				.btn {
					clear: both;
				}
			}
		}

		.map {
			height: 595px;
		}
	}

	footer.page {
		.hashtag,
		.social,
		.created-by {
			float: left;
			width: calc(100% / 3);
			line-height: 46px;
			height: 46px;
		}

		.hashtag {
			margin-bottom: 0;
		}

		.created-by {
			position: relative;
			top: -4px;
		}
	}
}

@media (min-width: 769px) {
	section.billboard {
		.bg-geometry {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	body {
		background: darken(#f2f2f2, 10%);
	}

	.container {
		.make-center(1200px);

		position: relative;
		background: #fff;
	}
}